<?xml version="1.0"?>

<robot name="glados" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find z1_description)/xacro/robot.xacro"/>

    <link name="shop"/>
    <joint name="shop_joint" type="fixed">
        <origin xyz="0 0 0" rpy="3.14159 0 0" />
        <parent link="shop"/>
        <child link="world"/>
    </joint>

    <xacro:arg name="camera_name"   default="zed2" />
    <xacro:arg name="camera_model"  default="zed2" />
    <xacro:arg name="base_frame"    default="world" />
    <xacro:arg name="cam_pos_x"     default="-0.5" />
    <xacro:arg name="cam_pos_y"     default="0.0" />
    <xacro:arg name="cam_pos_z"     default="0.5" />
    <xacro:arg name="cam_roll"      default="3.14159" />
    <xacro:arg name="cam_pitch"     default="0.0" />
    <xacro:arg name="cam_yaw"       default="0.0" />
    <xacro:arg name="gnss_frame"    default="" />

    <xacro:include filename="$(find zed_wrapper)/urdf/zed_macro.urdf.xacro" />
    <xacro:zed_camera name="$(arg camera_name)" model="$(arg camera_model)" parent="$(arg base_frame)">
    <origin 
        xyz="$(arg cam_pos_x) $(arg cam_pos_y) $(arg cam_pos_z)" 
        rpy="$(arg cam_roll) $(arg cam_pitch) $(arg cam_yaw)"
    />
    </xacro:zed_camera>

    <link name="head_link">
        <visual>
            <geometry>
                <mesh filename="package://glados_description/meshes/g_head.dae"/>
            </geometry>
        </visual>
    </link>
    <joint name="head_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="link06"/>
        <child link="head_link"/>
    </joint>

    <link name="midsection_link">
        <visual>
            <geometry>
                <mesh filename="package://glados_description/meshes/g_mid.dae"/>
            </geometry>
        </visual>
    </link>
    <joint name="midsection_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="link03"/>
        <child link="midsection_link"/>
    </joint>

    <link name="upper_link">
        <visual>
            <geometry>
                <mesh filename="package://glados_description/meshes/g_upper.dae"/>
            </geometry>
        </visual>
    </link>
    <joint name="upper_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="link02"/>
        <child link="upper_link"/>
    </joint>

</robot>
